@font-face{
    font-family:MasterOfComicsPersonal;
    src: url(MasterOfComicsPersonal.ttf);
    font-weight:bold;
}

@font-face{
    font-family:LearningCurve;
    src: url(LearningCurve.ttf);
    font-weight:bold;
}

@font-face{
    font-family:SketchCollege;
    src: url(SketchCollege.ttf);
    font-weight:normal;
}

@font-face{
    font-family:HomemadeApple;
    src: url(HomemadeApple.ttf);
    font-weight:bold;
}

@font-face{
    font-family:Tiza;
    src: url(tiza.ttf);
    font-weight:bold;
}
/* css - grid and space */
.EsquemaGeneral{
    display: flex;
    flex-direction: column;
    align-items:center;
}

.EsquemaBuscador{
    margin-top:10px;
    margin-bottom:10px;
    padding:10px;

    display: flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
}

.EsquemaTitulo{

    padding-top:40px;
}

.EsquemaReferencias{
    display: flex;
    flex-wrap: wrap;
    align-self:center;
    justify-content: space-around;
    width:80%;
    margin-top:10px;
}

.EsquemaTarjeta{
    margin:2px;
    background-size: cover;
    border-radius:50%;
    border: 2px outset white;
    height: 220px ;
    width: 220px ;
    position: relative;
}


/******************* css - style - size ********************/
/* titulo area */
.st-Titulo{
    text-align:center;
    font-family:MasterOfComicsPersonal;
   	font-size:75px;
	color:#ff3d00;
	text-shadow: 1px 2px black;
}

.st-Subtitulo{
    text-align:center;
	font-family:LearningCurve;
	font-size:50px;
	font-weight:lighter;
	color:#bdbdbd;
}

/* Buscador area  */
.st-Buscador {
    min-width: 65%;
    max-width:70%;
    height:120px;
    border-radius:5px;
}

.st-TituloBuscador{
    font-family:SketchCollege;
    font-size:40px;
    text-align:center;
    color:white;
}

.st-BuscadorTexto{

    width:85%;
}

.st-BuscadorBoton{
    border: 1px solid #fff;
    background: transparent;
    padding: 8px;
    border-radius: 5px;
    color: #fff;
    transition: all 0.5s ease-in-out;
    font-family:SketchCollege;
    font-size:20px;
}

.st-BuscadorBoton:hover{
    background-color:rgba(0,0,0,0.6);
    opacity:1;
    transition: all 0.5s ease;
}

/* referencias area */

.st-Tarjeta {
    border-radius:50%;
    height:100%;
    width: 100%;
    position:absolute;
    background-color: rgba(0 , 96 , 100 , 0)
    transition: background-color 1s  ease-in-out;
}

.st-Tarjeta:hover {

   background-color: rgba(0 , 96 , 100 , 0.8)
}

.st-TarjetaOpacidad{
    border-radius:50%;
    text-align:center;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    height:100%;
}

.st-Tarjeta .st-TarjetaOpacidad{
    position:absolute;
    margin:auto;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.st-Tarjeta:hover .st-TarjetaOpacidad{
    opacity: 1;

}

.st-TarjetaTitulo{
    font-family:HomemadeApple;
    font-size:30px;
    color: #bbdefb ;
    margin-bottom:8px;
}

.st-TarjetaContenido{
    font-family: LearningCurve;
    font-weight: bold;
    font-size:30px;
    color: white;
}

/* consulta area */

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 220px;
	height: 220px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
    background-size:cover;
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}