/**************************
  Esta app es muestra de autoaprendizaje para poder demostrar habilidades de frontend developer para un trabajo en el futuro
  creado por carlos Chicata
  para el SPA ( single page application ) "RestaFind" que es un sistema de busqueda de restaurantes

  Usamos una metodologia inspiradaen OOCSS, BEM y atomic para nuestra organizacion.
    1.- todos los componentes tendran su bloque de independencia ( BEM )
    2.- todos los componentes tendran su estilo, dise単o, animaciones separados ( OOCSS y BEM y atomic )
    3.- los estilos tendran como prefijo "st-" mientras que los dise単os tendran "sk-" y los de animacion no tendran. ( BEM y atomic )
    4.- las animaciones tendran su propio titulo de acuerdo a su animacion ( atomic )
    5.- para armar el css de un componente tendran que mezclar el dise単o, modificadores y estilo. ( atomic )
    6.- los estilos incluyen las transitions del componente.

**************************/
/* fuentes para el app*/
@font-face{
    font-family:MasterOfComicsPersonal;
    src: url(MasterOfComicsPersonal.ttf);
    font-weight:bold;
}

@font-face{
    font-family:BackToBlack;
    src: url(BackToBlack.ttf);
    font-weight:bold;
}

@font-face{
    font-family:SketchCollege;
    src: url(SketchCollege.ttf);
    font-weight:normal;
}

@font-face{
    font-family:HomemadeApple;
    src: url(HomemadeApple.ttf);
    font-weight:bold;
}

@font-face{
    font-family:Tiza;
    src: url(tiza.ttf);
    font-weight:bold;
}

@font-face{
    font-family:Lobster;
    src: url(Lobster.otf);
    font-weight:bold;
}
/* css - animaciones  */
@keyframes FadeInUp{
    from{
        opacity: 0 ;
        transform: translate3d( 0 , 100% , 0 );
    }
    to{
        opacity: 1 ;
        transform: translate3d( 0 , 0 , 0 );
    }
}

/**** css - dise単o ****/
/** encabezado **/

.sk-header{
    height:400px;
    width:100%;
    position: relative;
}

.sk-header img{
    position: absolute;
    height:100%;
    width:100%;
    filter:brightness(40%);
    #filter: blur( 1px );
    object-fit:cover;
    transform: scale(1.1);
    background-color:rgba(0,100,100,0);
}

.sk-SubHeader{
    position: absolute;
    height: 100%;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sk-TituloHeader{
    margin-top:75px;
    margin-bottom:3px;
}

.sk-SubtituloHeader{

    margin-bottom:80px;
}

.sk-InputHeader{
    width:70%;
    min-width:400px;
    max-width:900px;
}

.sk-InputHeader::-moz-placeholder{
    font-family: Lobster;

}

.sk-BotonDecoracionHeader{

    padding:4px;
}

.sk-BuscadorHeader{
    width: 100%;
    height:40px;
    text-align:center;
}

.sk-BuscadorHeader input[ type='text']{

    height:20px;
}

.sk-BotonHeader{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    margin-right:5%;
}

/**** css - estilo ****/

:root{
    --ColorSubtituloHeader: none;
    --ColorTituloHeader: #474343;
}

.st-TituloHeader{
    font-family:MasterOfComicsPersonal;
    #color:red;
    font-size:6em;
    color: red;
	text-shadow: 1px 2px black;
	#text-shadow: 1px 0px 1px var(--ColorTituloHeader),  -1px 0px 1px var(--ColorTituloHeader), 0px -1px 1px var(--ColorTituloHeader), 0px 1px 1px var(--ColorTituloHeader);
}

.st-SubtituloHeader{
    text-align:center;
	font-family: BackToBlack;
	font-size:35px;
	font-weight:lighter;
	color: #24a2a2;
	text-shadow: 1px 0px 1px var(--ColorSubtituloHeader),  -1px 0px 1px var(--ColorSubtituloHeader), 0px -1px 1px var(--ColorSubtituloHeader), 0px 1px 1px var(--ColorSubtituloHeader);
    #text-shadow: 2px 3px 2px var(--ColorSubtituloHeader) ;
}

.st-BotonHeader{
    margin-left:3px;
    margin-right:3px;
    background-color: Transparent;
    border: none;
    color: white;
    font-size:16px;
    font-family: Lobster;
}

.st-BotonHeader:hover{

    color: #ffeb3b;
}

.st-SingUpHeader{
    border: 2px solid white;
    border-radius: 4px;
}

.st-SingUpHeader:hover{

    border-color: #ffeb3b;
}

.st-BotonSubmitHeader{
    text-shadow: 2px 2px 1px black;
    background-color: red;
    color:white;
    border: 2px solid red;
    border-radius:4px;
    font-family:Lobster;
}

.st-BotonSubmitHeader:hover{

    color: #ffeb3b;
}