<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="author" author="Carlos F. Chicata Farfán">
        <meta name="Goals of app" content="this is a recommendation system with QA system to find restaurants for the users according his need">
        <meta name="Purpose Personal" content="A SPA to show my skills in webtech">
        <meta name="Full Stack" content="Front-end: Vue,js, bootstrap, html5, js, css3. Backend: Flask, python. Data: Kaggle dataset">
        <title> RestaFind: to find good places for good moments</title>
        <!--- those are external files will use--->
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='reset.css')}}">
        <link rel="stylesheet" type="text/css" href="/static/Principal.css">
        <!--- external template for vuejs components --->

    </head>
    <body >
        <div class="sk-header">
            <img src="/static/image/BN5.jpeg">
            <div class="sk-SubHeader">
                <div class="sk-BotonHeader">
                    <button class="st-BotonHeader"> Login </button>
                    <button class="sk-BotonDecoracionHeader st-BotonHeader st-SingUpHeader"> Sign Up</button>
                </div>
                <p class="st-TituloHeader sk-TituloHeader">Restafind </p>
                <p class="st-SubtituloHeader sk-SubtituloHeader">finding for place by good moments</p>
                <form class="sk-BuscadorHeader">
                    <input class="sk-InputHeader" type="text" placeholder="find your moment!">
                    <button type="submit" class="sk-BotonDecoracionHeader st-BotonSubmitHeader"> search </button>
                </form>
            </div>
        </div>
    </body>
</html>
