<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="author" author="Carlos F. Chicata Farfán">
        <meta name="Goals of app" content="this is a recommendation system with QA system to find restaurants for the users according his need">
        <meta name="Purpose Personal" content="A SPA to show my skills in webtech">
        <meta name="Full Stack" content="Front-end: Vue,js, bootstrap, html5, js, css3. Backend: Flask, python. Data: Kaggle dataset">
        <title> RestaFind: to find good places for good moments</title>
        <!--- those are external files will use--->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
        <link href='https://fonts.googleapis.com/css?family=Arbutus Slab' rel='stylesheet'>
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='reset.css')}}">
        <link rel="stylesheet" type="text/css" href="/static/Principal.css">
        <!---
         <input class="sk-InputHeader" type="text" placeholder="say the name of restaurant or type of kitchens in the city you want">

         external template for vuejs components --->
                <!----
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.min.js"></script>
        <script>
        $(function(){
  $('.bxslider').bxSlider({
    auto:true,
    pause:5000,
    controls:false,
    adaptiveHeight:true
  });
});
    </script>
    --->
    </head>
    <body>
        <template id="cabeza-template">
            <div class="sk-header">
                <img src="/static/image/BN5.jpeg">
                <div class="sk-SubHeader">
                    <div class="sk-BotonHeader" >
                        <button v-on:click="CambioLenguaje(0)" class="st-BotonHeader"> Español </button>
                        <button v-on:click="CambioLenguaje(1)" class="st-BotonHeader st-BotonDecoretionHeader"> English </button>
                    </div>
                    <p class="st-TituloHeader sk-TituloHeader">{%raw%}Titulo{%endraw%}</p>
                <p class="st-SubtituloHeader sk-SubtituloHeader">{%raw%}Subtitulo{%endraw%}</p>
                </div>
            </div>
        </template>
        <!------------->
        <div id="GestorGeneral">
            <cabezaprincipal ></cabezaprincipal>
        </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
    <script src="/static/js/Logistica.js"></script>
    </body>
</html>
